@import "_0-global.scss";

body {
    background: white;
    font-family: $base-font-family;
    margin: 0 auto;
}

.nav-bar {
	.top-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		height: 100px;
		padding: 20px 0;
		max-width: 2000px;
		width: 100%;
		transition: .5s all;
		@include center();
		top: 60px;

		&.fixed {
			position: fixed;
			margin: 0 auto;
			width: 100%;
			max-width: 2000px;
			height: 80px;
			background: white;
			border-bottom: 1px solid grey;
			padding: 0;
			min-height: 50px;
			display: flex;
			transition: .5s all;
			z-index: 1000;
			top: 40px;



			#burger {
				span {
					background: grey;
				}
			}

			.logo {
				align-self: center;
				height: 70%;
				transition: .5s all;
				img {
					transition: .5s all;

				}
			}

		}

		.logo {
			padding: 0 30px;
			transition: .5s all;
			img {
				height: 100%;
				transition: .5s all;
			}
		}
		
		#burger {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include size(50px);
			cursor: pointer;
			z-index: 50;
			transition: .3s all;
			align-self: center;
			padding: 0 30px;
		
			span {
				@include size(40px, 4px);
				margin: 2px;
				background: white;
				transition: .5s all;
			}
		
			&.open {
					background: transparent;
					transition: .5s all;
		
		
				:first-child {
					transform: rotate(-45deg) translate(-6px, 5px);
					background-color: white;
					transition: .5s all;
				}
		
				:nth-child(2) {
					background: transparent;
					transition: .5s all;
				}
		
				:last-child {
					transform: rotate(45deg) translate(-6px, -5px);
					background-color: white;
					transition: .5s all;
				}
			}
		}

		.menu {
			@include size(100%, 100vh);
			position: absolute;
			top: 0;
			left: 0;
			background: rgba($color: #1e1e1e, $alpha: 0.7);
			justify-content: center;
			align-items: center;
			display: none;
			z-index: 10;
	
			ul {
				margin: 130px 0 0 0;
				list-style: none;
				display: flex;
				flex-direction: column;
				text-decoration: none;
				transition: .5s all;
				align-items: center;
				@media (max-width: 899px) {
					margin-top: 120px;
				}
	
				li {
					display: flex;
					margin: 5px 0;
					list-style: none;
	
					a {
						color: white;
						text-align: center;
						padding: 5px 0;
						font-size: 40px;
						font-weight: 700;
						text-decoration: none;
	
						&:hover, &:focus { color: grey; transition: .3s all; }
	
						@media (max-width: 500px) { font-size: 30px; }
						@media (max-width: 400px) { font-size: 22px; }
					}
				}
			}
		}
	}
}

#top {
    background-image: url('/build/img/top.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	

	.top-headline {
		padding-bottom: 100px;
		color: white;
		align-self: flex-end;
		display: flex;
		justify-content: center;

		@media(max-width: 1400px) {
			padding-bottom: 20px;
		}

		.font-alfa {
			display: flex;
			align-items: center;
			padding-right: 15px;
			padding-left: 240px;
		} 

		.line {
			&::after {
				content: "";
				height: 90px;
				width: 4px;
				background: white;
				display: flex;
				bottom: 50px;
				position: absolute;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%);

				
				@media(max-width: 1400px) {
					bottom: -30px;
				}
			}
		}

		#font-model {
			font-family: 'Poppins', sans-serif;
			font-weight: 600;
			font-size: 63px;
			letter-spacing: -5px;
			display: flex;
			align-items: center;
			padding-left: 25px;
		}
	}
}

.headline-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;

	h1 {
		align-self: center;
	}

	h3 {
		align-self: center;
		margin-bottom: 110px;
		
		&::after {
			margin: 20px auto 0 auto;
		}
	}

	p {
		font-size: 24px;
		text-align: center;
		padding-bottom: 140px;
		line-height: 32px;
	}
}

#gallery {
	height: 490px;

	.gallery-item {
		height: 490px;

		&.img1 {
			background: url(/build/img/3.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img2 {
			background: url(/build/img/1.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img3 {
			background: url(/build/img/2.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img4 {
			background: url(/build/img/5.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img5 {
			background: url(/build/img/4.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img6 {
			background: url(/build/img/6.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img7 {
			background: url(/build/img/7.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.content {
	p {
		font-size: 16px;
		line-height: 24px;
	}

	.photo {
		height: 680px;
		width: 50%;

		&.img-1 {
			background: url(/build/img/6.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img-2 {
			background: url(/build/img/13.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img-3 {
			background: url(/build/img/22.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&.photo-text {
		display: flex;
		justify-content: space-between;

		.text {
			width: 550px;
			margin-right: auto;
			padding-left: 100px;
			padding-right: 20px;
		}

		h1 {
			margin-top: 65px;
		}

		h3 {
			padding-bottom: 30px;

			&::after {
				margin-top: 30px;
				position: relative;
				right: 80px;
			}
		}

		&.to-right {
			.text {
				margin-left: auto;
				margin-right: 0;
				padding-right: 100px;
				padding-left: 20px;
			}

			h1, h3 {
				text-align: end;
			}

			h3 {
				&::after {
					left: 93%;
					right: 0;
				}
			}
		}
	}
}

#specification {

	h1 {
		text-align: center;
	}
	h3 {
		&::after {
			justify-content: center;
			margin: 20px auto 0 auto;
			margin-bottom: 55px;
		}
	}

	li {
		padding: 25px 35px;
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		line-height: 20px;

		span:nth-child(even) {
			margin-right: auto;
			padding-left: 30px;
		}
		span:nth-child(odd) {
			width: 260px;
			min-width: 260px;
		}
	}

	li:nth-child(even) {
		background: color(white, 2);
	}

}

#summary {
	background-image: url(/build/img/summary.jpg);
	display: flex;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	flex-direction: column;
	margin-top: 140px;

	h1 {
		color: white;
		margin: 0;
		padding: 20px 0;
	}

	.summary-content {
		background: black;
		opacity: 0.9;
		width: 100%;
		display: flex;
		color: white;
		flex-direction: column;
		
		img {
			margin: 50px auto;
			height: 150px;
			width: 150px;
		}

		#summary-text {
			max-width: 1300px;
			width: 1300px;
			margin: 0 auto 50px auto;
			text-align: center;
		}

		.pros-cons-wrapper {
			display: flex;

			#pros, #cons {
				display: flex;
				width: 50%;
				flex-direction: column;
				margin-bottom: 60px;

				div {
					display: flex;
				}

				p {
					padding-bottom: 20px;
				}

				span {
					font-size: 24px;
					color: color(green,1);
					padding-right: 15px;

					&.red {
						color: color(red, 1);
					}
				}
			}

			#cons {
				padding-left: 80px;
			}
		}
	}
}

#footer {
	background-color: color(red, 1);

	color: white;

	.footer-wrapper {
		display: flex;
		justify-content: space-between;

		span {
			align-self: center;
			padding-left: 20px;
		}
	}


	img {
		width: 150px;
		height: 100px;
	}
}