@import "_0-global.scss";

body {
    background: white;
    font-family: $base-font-family;
    margin: 0 auto;
}

.nav-bar {

	.top-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		height: 80px;
		padding: 10px 0;
		width: 100%;
		transition: .3s all;
		@include center();
		top: 60px;

		@media (max-width: 500px) {
			align-items: center;
		}

		&.fixed {
			position: fixed;
			display: flex;
			margin: 0 auto;
			width: 100%;
			height: 70px;
			background: rgba($color: #ffff, $alpha: 0.95);
			border-bottom: 1px solid grey;
			padding: 0;
			min-height: 50px;
			display: flex;
			transition: .3s all;
			z-index: 1000;
			top: 35px;
			-webkit-box-shadow: 0px 6px 21px -5px rgba(0,0,0,0.61);
			-moz-box-shadow: 0px 6px 21px -5px rgba(0,0,0,0.61);
			box-shadow: 0px 6px 21px -5px rgba(0,0,0,0.61);
		

			#burger {
				span {
					background: grey;
				}
			}

			.logo {
				align-self: center;
				transition: .3s all;

				img {
					padding: 10px 0 0 0;
					transition: .3s all;
					height: 70%;

					@media (max-width: 500px) {
						padding: 8px 0 0 0;
					}
				}
			}

			@media (max-width: 500px) {
				height: 30px;
				top: 25px;
			}

		}

		.logo {
			transition: .3s all;
			height: 70px;
			padding: 0 0 0 20px;

			@media (max-width: 500px) {
				height: 50px;
			}

			img {
				transition: .3s all;
				height: 100%;
			}
		}
		
		#burger {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include size(50px);
			cursor: pointer;
			z-index: 50;
			transition: .3s all;
			align-self: center;
			padding: 0 20px;

		
			span {
				@include size(30px, 4px);
				margin: 2px;
				background: white;
				transition: .3s all;
			}
		
			&.open {
					background: transparent;
					transition: .3s all;
		
		
				:first-child {
					transform: rotate(-45deg) translate(-6px, 5px);
					background-color: grey;
					transition: .3s all;
				}
		
				:nth-child(2) {
					background: transparent;
					transition: .3s all;
				}
		
				:last-child {
					transform: rotate(45deg) translate(-6px, -5px);
					background-color: grey;
					transition: .3s all;
				}

			}
		}

		.menu {
			position: absolute;
			top: -260px;
			left: 0;
			width: 100%;
			background: rgba($color: #1e1e1e, $alpha: 0.95);
			justify-content: center;
			align-items: center;
			display: none;
			z-index: -5;
			transition: .2s all;

			&.open {
				transform: translateY(250px);

			}
	
			ul {
				margin: 85px 40px 15px auto;
				list-style: none;
				display: flex;
				flex-direction: column;
				text-decoration: none;
				transition: .2s all;
				align-items: flex-end;

				@media (max-width: 899px) {
					margin-top: 120px;
				}

				@media (max-width: 500px) {
					margin-top: 80px;
				}
	
				li {
					display: flex;
					margin: 5px 0;
					list-style: none;
	
					a {
						color: white;
						text-align: end;
						font-weight: 500;
						text-decoration: none;
						font-size: 18px;
						transition: .5s all;
	
						&:hover, &:focus { color: grey; transition: .3s all; }
	
						@media (max-width: 500px) { font-size: 30px; }
						@media (max-width: 400px) { font-size: 22px; }
					}
				}
			}
		}
	}
}

#top {
    background-image: url('/build/img/top.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;

	@media (max-width: 1000px) {
		background-image: url(/build/img/7.jpg);
	}

	
	.social-media {
		display: flex;
		flex-direction: column;
		padding: 10px 35px;
		position: fixed;
		z-index: 100;
		right: 0;
		bottom: 10px;

		img {
			@include size(30px, 30px);
			margin: 3px 0;
		}
	}
	

	.top-headline {
		padding-bottom: 100px;
		color: white;
		align-self: flex-end;
		display: flex;
		justify-content: center;

		@media(max-width: 1400px) {
			padding-bottom: 20px;
		}

		@media(max-width: 1000px) {
			padding-bottom: 25px;
		}

		@media(max-width: 750px) {
			flex-direction: column;
			align-content: center ;
		}

		.font-alfa {
			display: flex;
			align-items: center;
			padding-right: 15px;
			padding-left: 240px;

			@media (max-width: 1350px) {
				padding-left: 85px;
			}

			@media(max-width: 1000px) {
				padding-left: 0;
			}

			@media (max-width: 750px) {
				padding: 0;
				justify-content: center;
			}
			
			img {
				@media (max-width: 1000px) {
					width: 300px;
				}
			}
		} 

		.line {
			&::after {
				content: "";
				height: 90px;
				width: 4px;
				background: white;
				display: flex;
				bottom: 50px;
				position: absolute;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%);

				
				@media(max-width: 1400px) {
					bottom: -30px;
				}

				@media(max-width: 750px) {
					display: none;
				}
			}
		}

		#font-model {
			font-family: 'Poppins', sans-serif;
			font-weight: 600;
			font-size: 63px;
			letter-spacing: -5px;
			display: flex;
			align-items: center;
			padding-left: 25px;

			@media (max-width: 1350px) {
				font-size: 48px;
			}

			@media (max-width: 1000px) {
				font-size: 38px;
			}

			@media (max-width: 750px) {
				padding: 0;
				justify-content: center;
			}
		}
	}
}

.headline-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;

	@media (max-width: 500px) {
		padding-bottom: 45px;
	}

	h1 {
		align-self: center;
	}

	h3 {
		align-self: center;
		margin-bottom: 110px;
		
		&::after {
			margin: 20px auto 0 auto;
		}

		@media(max-width: 1300px) {
			margin-bottom: 40px;
		}
	}

	p {
		font-size: 22px;
		text-align: center;
		padding-bottom: 140px;
		line-height: 32px;

		@media(max-width: 1300px) {
			font-size: 22px;
			padding-bottom: 70px;
		}

		@media(max-width: 1000px) {
			font-size: 18px;
			line-height: 22px;
		}

		@media(max-width: 700px) {
			padding: 0 15px;
		}
	}
}

#gallery {
	height: 490px;

	@media(max-width: 700px) {
		height: 300px;
		margin-top: 45px;
	}

	.gallery-item {
		height: 490px;

		@media(max-width: 700px) {
			height: 300px;
		}

		&.img1 {
			background: url(/build/img/3.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img2 {
			background: url(/build/img/1.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat; 
		}

		&.img3 {
			background: url(/build/img/2.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img4 {
			background: url(/build/img/5.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img5 {
			background: url(/build/img/4.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img6 {
			background: url(/build/img/6.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img7 {
			background: url(/build/img/7.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.content {

	.photo {
		height: 680px;
		width: 50%;

		@media (max-width: 1000px) {
			width: 100%;
		}

		@media(max-width: 700px) {
			height: 520px;
		}

		@media (max-width: 500px) {
			height: 320px;
		}

		&.img-1 {
			background: url(/build/img/6.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img-2 {
			background: url(/build/img/13.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.img-3 {
			background: url(/build/img/22.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&.photo-text {
		display: flex;
		justify-content: space-between;

		@media(max-width: 1000px) {
			flex-direction: column;
		}

		.text {
			width: 550px;
			margin-right: auto;
			padding-left: 100px;
			padding-right: 20px;

			@media(max-width: 1360px) {
				padding-left: 60px;
				padding-right: 10px;
				width: 450px;
			}

			@media(max-width: 1100px) {
				width: 400px;
				padding-left: 40px;
			}

			@media (max-width: 1000px) {
				margin: 0 auto 45px auto;
				width: 700px;
			}
			
			@media (max-width: 750px) {
				width: 500px;
				padding: 20px;
			}

			@media (max-width: 550px) {
				width: 420px;
				text-align: center;
			}

			@media (max-width: 450px) {
				width: 280px;
				max-width: 280px;
			}


		}

		h1 {
			margin-top: 65px;

			@media(max-width: 1100px) {
				margin-top: 45px;
			}
		}

		h3 {
			padding-bottom: 30px;

			@media(max-width: 1000px) {
				text-align: center;
				padding-bottom: 50px;
			}

			&::after {
				margin-top: 30px;
				position: relative;
				right: 80px;

				
				@media(max-width: 1000px) {
					@include center();
					margin-top: 10px;
				}
			}
		}

		&.to-right {

			@media(max-width: 1000px) {
				flex-direction: column-reverse;
			}

			.text {
				margin-left: auto;
				margin-right: 0;
				padding-right: 100px;
				padding-left: 20px;

				@media(max-width: 1360px) {
					padding-right: 60px;
				}

				@media(max-width: 1100px) {
					width: 400px;
					padding-right: 40px;
				}

				@media (max-width: 1000px) {
					margin: 0 auto 40px auto;
					width: 700px;
				}

				@media (max-width: 700px) {
					width: 460px;
					padding: 20px;
	
				}

				@media (max-width: 500px) {
					width: 420px;
				}

				@media (max-width: 450px) {
					width: 280px;
					max-width: 280px;
					text-align: center;
				}

			}

			h1, h3 {
				text-align: end;

				@media (max-width: 1000px) {
					text-align: center;
				}
			}

			h3 {
				&::after {
					left: 93%;
					right: 0;

					
				@media(max-width: 1000px) {
					@include center();
				}
				}
			}
		}
	}
}

#specification {

	h1 {
		text-align: center;
	}
	h3 {
		&::after {
			justify-content: center;
			margin: 20px auto 0 auto;
			margin-bottom: 55px;
		}
	}

	li {
		padding: 25px 35px;
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		line-height: 20px;

		@media (max-width: 500px) {
			padding: 25px 10px;
		}

		span:nth-child(even) {
			margin-right: auto;
			padding-left: 30px;

			@media(max-width: 500px) {
				padding-left: 3px;
				padding-right: 20px;
			}

			@media (max-width: 350px) {
				padding-right: 0;
			}
		}
		span:nth-child(odd) {
			width: 260px;
			min-width: 260px;

			@media(max-width: 500px) {
				width: 130px;
				min-width: 130px;
			}
		}
	}

	li:nth-child(even) {
		background: color(white, 2);
	}

}

#summary {
	background-image: url(/build/img/summary.jpg);
	display: flex;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	flex-direction: column;
	margin-top: 140px;

	@media(max-width: 500px) {
		margin-top: 45px;
	}

	h1 {
		color: white;
		margin: 0;
		padding: 20px 0;
	}

	.summary-content {
		background: black;
		opacity: 0.9;
		width: 100%;
		display: flex;
		color: white;
		flex-direction: column;
		
		img {
			margin: 50px auto;
			height: 150px;
			width: 150px;
		}

		#summary-text {
			max-width: 1300px;
			width: 1300px;
			margin: 0 auto 50px auto;
			text-align: center;

			@media(max-width: 1340px) {
				max-width: 1000px;
				width: 1000px;
			}

			@media (max-width: 1000px) {
				width: 700px; 
				max-width: 700px;
			} 
		
			@media (max-width: 800px) {
				width: 440px;
				max-width: 440px;
			}
		
			@media (max-width: 500px) {
				width: 380px;
				max-width: 380px;
			}
		
			@media (max-width: 450px) {
				width: 290px;
				max-width: 290px;
			}
		}

		.pros-cons-wrapper {
			display: flex;

			#pros, #cons {
				display: flex;
				width: 50%;
				flex-direction: column;
				margin-bottom: 60px;

				@media(max-width: 500px) {
					width: 85%;
					margin-bottom: 45px;
					justify-content: center;
				}

				div {
					display: flex;
				}

				p {
					padding-bottom: 20px;
				}

				span {
					font-size: 24px;
					color: color(green,1);
					padding-right: 15px;

					&.red {
						color: color(red, 1);
					}
				}
			}

			#pros {
				
				@media (max-width: 500px) {
					padding: 0 0 0 20px;
				}

				@media (max-width: 350px) {
					padding: 0 0 0 10px;
				}
			}

			#cons {
				padding-left: 80px;

				@media (max-width: 500px) {
					padding: 0 0 0 20px;
				}

				@media (max-width: 350px) {
					padding: 0 0 0 10px;
				}
			}

			@media(max-width: 500px) {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

#footer {
	background-color: color(red, 1);

	color: white;

	@media (max-width: 500px) {
		font-size: 12px;
	}

	.footer-wrapper {
		display: flex;
		justify-content: space-between;

		span {
			align-self: center;
			padding-left: 20px;
		}
	}


	img {
		width: 150px;
		height: 100px;

		@media(max-width: 500px) {
			width: 70px;
			height: 40px;
			padding-right: 20px;
		}

		@media (max-width: 400px) {
			width: 50px;
			height: 30px;
		}
	}
}